/*
    These are the styles related to locking scroll on the root HTML element.

    You do not need to use the document-scroll-hidden class -- it's added to the root for you.

    Just import this file somewhere.
*/
:root.document-scroll-hidden {
    /*
        position: fixed is awkward because we have to finagle with scrolling
        but it's the ONLY solution that works on iOS Safari.

        This would be solved easily with overscroll-behavior
        but surprise surprise, the only browser needs it doesn't support it :/
    */
    position: fixed;
    overflow: hidden;
    padding-inline-end: var(--body-scrollbar-width, 0px);
    padding-block-end: var(--body-scrollbar-height, 0px);

    /*
        When scrolling is locked, we take the previously scrolled position
        and offset the fixed body by that amount as a funny illusion.

        When unlocked, we take that position and restore scroll to there,
        but that's not CSS.
    */
    top: calc(-1 * var(--root-scrollstop-top));
    left: calc(-1 * var(--root-scrollstop-left));
}
